@use "sass:color";

$cardBackground: (
  '1': rgb(168, 4, 4),     // Red
  '2': rgb(30, 30, 155),   // Blue
  '3': black,              // Black
  '4': gold,               // Gold
  '5': indigo,             // Indigo
  '6': rgb(192, 4, 104)    // Pinkish
);

/* Set text color based on bg */
@function set-text-color($color) {
  @if (color.lightness($color) > 40%) {
    @return #000; // Dark text for light backgrounds
  } @else {
    @return #fff; // Light text for dark backgrounds
  }
}

/* Set background & text color */
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}