/* _navbar.scss */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333;
  padding: 1rem 2rem;
  z-index: 1000;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar .navbar-title {
  color: #fff;
  font-size: 1.8rem;
  font-family: "Bangers", cursive;
}
.navbar .add-comic-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.navbar .add-comic-button:hover {
  background-color: #45a049;
}

/*  _card.scss */
/* _utilities.scss */
/* Set text color based on bg */
/* Set background & text color */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
  text-align: center;
}

.container {
  width: 90%;
  max-width: 700px;
  margin: auto;
}

.container > * + * {
  margin-top: 1rem;
}

.card {
  position: relative;
  border-radius: 10px;
  padding: 1rem;
  overflow: hidden;
  max-width: 500px;
}

.card::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
}

.card:nth-of-type(1) {
  background-color: rgb(168, 4, 4);
  color: #fff;
}

.card:nth-of-type(1)::before {
  background: #8f0404;
}

.card:nth-of-type(2) {
  background-color: rgb(30, 30, 155);
  color: #fff;
}

.card:nth-of-type(2)::before {
  background: #1e1e82;
}

.card:nth-of-type(3) {
  background-color: black;
  color: #fff;
}

.card:nth-of-type(3)::before {
  background: black;
}

.card:nth-of-type(4) {
  background-color: gold;
  color: #000;
}

.card:nth-of-type(4)::before {
  background: #e6c200;
}

.card:nth-of-type(5) {
  background-color: indigo;
  color: #fff;
}

.card:nth-of-type(5)::before {
  background: #3c0069;
}

.card:nth-of-type(6) {
  background-color: rgb(192, 4, 104);
  color: #fff;
}

.card:nth-of-type(6)::before {
  background: #a7045a;
}

@media (min-width: 500px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .container > * + * {
    margin-top: 0;
  }
}
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
  color: #333;
}
.App h1 {
  font-size: 2.5rem;
  color: #3d8b40;
  margin-bottom: 30px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto;
}
form input {
  margin: 10px 0;
  padding: 12px;
  width: 100%;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
form input:focus {
  outline: none;
  border-color: #4caf50;
  background-color: white;
}
form button {
  padding: 10px 20px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  margin-top: 15px;
  width: 100%;
  font-size: 1.2rem;
}
form button:hover {
  background-color: #45a049;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
  width: 100%;
  max-width: 1300px;
}

.comic-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

@media (min-width: 576px) {
  .comic-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .comic-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .comic-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: left;
  height: 100%;
  width: 100%;
  margin: 10px;
}

.card img {
  width: 100%;
  max-width: 300px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px 8px 0 0;
}

h2 {
  font-size: 1.25rem;
  margin: 10px 0;
}

p {
  font-size: 1rem;
  margin: 5px 0;
}

.comic-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  margin: 0 5px;
}
button:hover {
  background-color: #45a049;
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Overlay effect */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}

.close-button:hover {
  color: #f00;
}

.comic-image {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

h2 {
  font-size: 1.5rem;
  margin: 10px 0;
  text-align: center;
  color: #4caf50; /* Optional: You can change the color to your liking */
}

.comic p {
  margin: 5px 0;
}/*# sourceMappingURL=App.css.map */