@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Bangers&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  color: #ffffff;
  font-family: "ABeeZee", system-ui;
  padding-top: 80px; 

}

h1 {
  font-family: "Bangers", system-ui;
  font-size: 2em;
  margin: 0.67em 0;
  text-align: center;
}

h2 {
  font-family: "Montserrat Alternates", system-ui;
  font-size: 1.5em;
  margin: 0.83em 0;
}


